In [3]:
import argparse
from typing import Dict, Tuple, Any
import json
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import HiveContext
from pyspark.sql.functions import *
import importlib

In [2]:
df_cidade= spark.sql("select *from aula_hive.tbl_cidade")

In [4]:
df_cidade.show()

+---------+----------------+---------+--------+
|id_cidade|       ds_cidade|id_estado| dt_foto|
+---------+----------------+---------+--------+
|     1058|           Betim|        1|27052023|
|       33|      ACRELANDIA|        2|27052023|
|      485|    ASSIS BRASIL|        2|27052023|
|      958|       BRASILEIA|        2|27052023|
|     1388|        CAPIXABA|        2|27052023|
|     1851| CRUZEIRO DO SUL|        2|27052023|
|     2022|       Cravinhos|        2|27052023|
|     2232|  EPITACIOLANDIA|        2|27052023|
|     2347|           FEIJO|        2|27052023|
|     3879|     MANCIO LIMA|        2|27052023|
|     3895|   MANOEL URBANO|        2|27052023|
|     5628|      RIO BRANCO|        2|27052023|
|     5767|      Rio Branco|        2|27052023|
|     6585|  SENA MADUREIRA|        2|27052023|
|     6593|SENADOR GUIOMARD|        2|27052023|
|     6845|       S√ÉO PAULO|        2|27052023|
|     6987|        TARAUACA|        2|27052023|
|     7241|      UBERLANDIA|        2|27052023|
|     7535|          XAPURI|        2|27052023|
|       59|     AGUA BRANCA|        3|27052023|
+---------+----------------+---------+--------+
only showing top 20 rows

In [4]:
df_item_pedido = spark.sql("select * from aula_hive.tbl_item_pedido")

In [3]:
df_item_pedido.printSchema()

root
 |-- id_pedido: string (nullable = true)
 |-- id_produto: string (nullable = true)
 |-- quantidade: string (nullable = true)
 |-- vr_unitario: string (nullable = true)
 |-- dt_foto: string (nullable = true)

In [1]:
df_pedido = spark.sql("select * from aula_hive.tbl_pedido")

In [5]:
df_pedido.createOrReplaceTempView('pedido')
df_item_pedido.createOrReplaceTempView('item_pedido')

In [6]:
sql = '''
    select 
        *
    from 
        pedido as p 
    join
        item_pedido as ip on p.id_pedido == ip.id_pedido
        '''

In [7]:
df_stage1 = spark.sql(sql)

In [8]:
df_stage1.show()

+-----------+--------------------+-----------+----------+---------+-------------+--------+-----------+----------+----------+-----------+--------+
|  id_pedido|           dt_pedido|id_parceiro|id_cliente|id_filial|vr_total_pago| dt_foto|  id_pedido|id_produto|quantidade|vr_unitario| dt_foto|
+-----------+--------------------+-----------+----------+---------+-------------+--------+-----------+----------+----------+-----------+--------+
|46626099016|2021-06-02T00:00:...|         16| 138633690|      547|       194.99|20230606|46626099016|   5077094|         1|     194.99|06062023|
|46630423213|2021-06-02T00:00:...|         13| 106568537|      875|        51.99|20230606|46630423213|   3335368|         1|      51.99|06062023|
|46630859716|2021-06-02T00:00:...|         16| 138757662|      884|        90.99|20230606|46630859716|   5053698|         1|      90.99|06062023|
|46631152013|2021-06-02T00:00:...|         13| 138459547|      494|       129.99|20230606|46631152013|   3488193|         1|     129.99|06062023|
|46635194213|2021-06-02T00:00:...|         13|   5534295|      194|        90.99|20230606|46635194213|   4149634|         1|      90.99|06062023|
|46635829216|2021-06-02T00:00:...|         16| 138680502|        3|        90.99|20230606|46635829216|   3174943|         1|      90.99|06062023|
|46636323516|2021-06-02T00:00:...|         16|  54441355|      597|        64.99|20230606|46636323516|   2398616|         1|      64.99|06062023|
|46636461213|2021-06-02T00:00:...|         13| 123812442|      141|       246.99|20230606|46636461213|   3527649|         1|     246.99|06062023|
|46638109716|2021-06-02T00:00:...|         16| 128992980|     1680|       324.99|20230606|46638109716|   4849669|         1|     324.99|06062023|
|46641219513|2021-06-02T00:00:...|         13|  92878260|        3|        90.99|20230606|46641219513|    897394|         1|      90.99|06062023|
|46644071016|2021-06-02T00:00:...|         16| 131867810|      231|        71.49|20230606|46644071016|    872394|         1|      71.49|06062023|
|46646868713|2021-06-02T00:00:...|         13|  33538792|      276|       142.99|20230606|46646868713|   4781857|         1|     142.99|06062023|
|46647494016|2021-06-02T00:00:...|         16|   1570482|      276|       246.99|20230606|46647494016|   2768153|         1|     246.99|06062023|
|46648068513|2021-06-02T00:00:...|         13|  36811340|     1730|       259.99|20230606|46648068513|   3172143|         1|     259.99|06062023|
|46651158213|2021-06-02T00:00:...|         13|  86697230|     1731|        77.99|20230606|46651158213|   4645822|         1|      77.99|06062023|
|46651205016|2021-06-02T00:00:...|         16|  59083097|      231|        97.49|20230606|46651205016|   4255825|         1|      97.49|06062023|
| 4665819955|2021-06-02T00:00:...|          5|  55088745|      276|       214.37|20230606| 4665819955|   4810314|         1|     214.37|06062023|
| 4665845403|2021-06-02T00:00:...|          3|   6698845|      416|        77.87|20230606| 4665845403|   2292768|         1|      77.87|06062023|
|46663798513|2021-06-02T00:00:...|         13|  16370715|      494|       298.99|20230606|46663798513|   2835810|         1|     298.99|06062023|
|46664415513|2021-06-02T00:00:...|         13|   9603632|      231|        90.98|20230606|46664415513|   2291386|         1|      45.49|06062023|
+-----------+--------------------+-----------+----------+---------+-------------+--------+-----------+----------+----------+-----------+--------+
only showing top 20 rows